<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin-layout}">
<head>
    <title>Account List</title>
</head>

<body>
    <div layout:fragment="content">
        <!-- Recent Sales Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">Account</h6>
                    <a th:href="@{/admin/account/add}" class="btn btn-primary">Thêm Account</a>
                </div>

                <div class="table-responsive">
                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                        <thead>
                        <tr class="text-white">
                            <th>ID</th>
                            <th>Display Name</th>
                            <th>User Name</th>
                            <th>Password</th>
                            <th>Avatar</th>
                            <th>email</th>
                            <th>Role</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="obj : ${accountList}">
                            <td th:text="${obj.id}"></td>
                            <td th:text="${obj.displayName}"></td>
                            <td th:text="${obj.username}"></td>
                            <td th:text="${obj.password}"></td>
                            <td ><img th:src="${obj.avatarUrl}" alt="Current Image" style="width: 100px;"/> </td>
                            <td th:text="${obj.email}"></td>
                            <td th:text="${obj.role}"></td>

                            <td><a th:href="@{'/admin/account/edit/' + ${obj.id}}" class="btn btn-warning btn-sm">Edit</a></td>
                            <td><a th:href="@{'/admin/account/delete/' + ${obj.id}}" class="btn btn-danger btn-sm"
                                   onclick="return confirm('Bạn có chắc chắn muốn xóa?')">Delete</a></td>
                        </tr>
                        </tbody>
                    </table>

                    <!-- Pagination -->
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${currentPage == 0} ? 'disabled'">
                            <a class="page-link" th:href="@{'/admin/account?page=' + ${currentPage - 1}}" th:if="${currentPage > 0}">Previous</a>
                        </li>

                        <li class="page-item" th:each="i : ${#numbers.sequence(0, totalPage - 1)}" th:classappend="${i == currentPage} ? 'active'">
                            <a class="page-link" th:href="@{'/admin/account?page=' + ${i}}" th:text="${i + 1}"></a>
                        </li>

                        <li class="page-item" th:classappend="${currentPage == totalPage - 1} ? 'disabled'">
                            <a class="page-link" th:href="@{'/admin/account?page=' + ${currentPage + 1}}" th:if="${currentPage < totalPage - 1}">Next</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <!-- Recent Sales End -->
    </div>
</body>
</html>
