<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin-layout}">
<head>
    <title>Edit Anime</title>
</head>
<body>

<script>
    $(function () {
        $("#message").hide();

        $("#btnSave").click(function () {
            let animeName = $('#animeName').val();

            if (animeName === '') {
                $("#message").html("Phải nhập tên anime");
                $("#message").show();
            } else {
                $("#frmSave").submit();
            }
        });
    });
</script>

<div layout:fragment="content">
    <!-- Form Start -->
    <div class="container-fluid pt-2 px-2 d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="bg-secondary rounded p-4">
                <h6 class="mb-4 text-center">Edit Anime</h6>
                <form th:action="@{/admin/anime/update/{id}(id=${anime.id})}" method="post" enctype="multipart/form-data">
                    <input type="hidden" th:value="${anime.id}" name="id"/>
                    <div class="mb-3">
                        <label for="animeName" class="form-label">Anime Name:</label>
                        <input type="text" class="form-control" id="animeName" name="animeName" th:value="${anime.animeName}" required>
                    </div>
                    <div class="mb-3">
                        <label for="title" class="form-label">Title:</label>
                        <input type="text" class="form-control" id="title" name="title" th:value="${anime.title}" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description" required th:text="${anime.description}"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="hashtag" class="form-label">Hashtag:</label>
                        <input type="text" class="form-control" id="hashtag" name="hashtag" th:value="${anime.hashtag}" required>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image:</label>
                        <input class="form-control" type="file" id="image" name="image">
                        <small>Current Image: <img th:src="${anime.imageUrl}" alt="Current Image" style="width: 200px; height: 200px;"/></small>
                    </div>
                    <div class="mb-3">
                        <label for="trailer" class="form-label">Trailer:</label>
                        <input class="form-control" type="file" id="trailer" name="trailer">
                        <small>Current Trailer: <a th:href="${anime.trailerUrl}">Watch here</a></small>
                    </div>
                    <div class="mb-3">
                        <label for="link" class="form-label">Link:</label>
                        <input type="text" class="form-control" id="link" name="link" th:value="${anime.link}" required>
                    </div>


                    <div class="mb-3">
                        <label for="category_anime_id" class="form-label">Category:</label>
                        <select class="form-select" id="category_anime_id" name="category_anime_id" required>
                            <option th:each="category : ${categoryAnimes}" th:value="${category.id}" th:text="${category.categoryName}"
                                    th:selected="${category.id == anime.categoryAnime.id}"></option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="episodes" class="form-label">Episodes:</label>
                        <div id="episodes">
                            <div th:each="episode : ${episodes}">
                                <div class="mb-2">
                                    <label for="episodeNumber" class="form-label">Episode Number:</label>
                                    <input type="number" class="form-control" id="episodeNumber" name="episodeNumbers" th:value="${episode.episodeNumber}" required>
                                </div>
                                <div class="mb-2">
                                    <label for="videoFile" class="form-label">Upload Video File:</label>
                                    <input type="file" class="form-control" id="videoFile" name="episodes" accept="video/*" required>
                                    <video width="550" height="240" controls>
                                        <source th:src="${episode.videoUrl}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                                <input type="hidden" name="episodeIds" th:value="${episode.id}"/>
                                <hr/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Update Anime</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Form End -->
</div>

</body>
</html>