<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layouts/admin-layout}">
<head>
    <title>Edit Account</title>
</head>
<body>

<script>
    $(function () {
        $("#message").hide();

        $("#btnSave").click(function () {
            let animeName = $('#animeName').val();

            if (animeName === '') {
                $("#message").html("Phải nhập tên anime");
                $("#message").show();
            } else {
                $("#frmSave").submit();
            }
        });
    });
</script>

<div layout:fragment="content">
        <!-- Form Start -->
        <div class="container-fluid pt-2 px-2 d-flex justify-content-center">
            <div class="col-sm-12 col-md-8 col-lg-6">
                <div class="bg-secondary rounded p-4">
                    <h6 class="mb-4 text-center">Edit Account</h6>
                    <form th:action="@{/admin/update-account/{id}(id=${admin.id})}" method="post" enctype="multipart/form-data">
                        <input type="hidden" th:value="${admin.id}" name="id"/>
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" th:value="${admin.username}" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Leave blank to keep current password" th:value="${admin.password}" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" th:value="${admin.email}" required>
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label">Role:</label>
                            <input type="text" class="form-control" id="role" name="role" th:value="${admin.role}" required>
                        </div>
                        <div class="mb-3">
                            <label for="displayName" class="form-label">Display Name:</label>
                            <input type="text" class="form-control" id="displayName" name="displayName" th:value="${admin.displayName}" required>
                        </div>
                        <div class="mb-3">
                            <label for="avatar" class="form-label">Avatar:</label>
                            <input type="file" class="form-control" id="avatar" name="avatar">
                            <small>Current Avatar: <img th:src="${admin.avatarUrl}" alt="Current Avatar" style="width: 100px;"/></small>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Update Account</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Form End -->
</div>

</body>
</html>