<!-- Fragment cho AnimeDetails -->
<div th:fragment="AnimeDetails">
    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                        <a href="client-categories.html">Anime</a>
                        <span>Details</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="anime__details__pic set-bg" th:data-setbg="${anime.imageUrl}">
                        <div class="comment"><i class="fa fa-comments"></i> <span th:text="${anime.comments != null ? anime.comments.size() : 0}">0</span></div>
                        <div class="view"><i class="fa fa-eye"></i> <span th:text="${anime.viewCount}">0</span></div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="anime__details__text mb-5">
                        <div class="anime__details__title">
                            <h3 th:text="${anime.animeName}">Anime Name</h3>
                            <span th:text="${anime.title}">Title</span>
                        </div>
                        <div class="anime__details__rating">
                            <div class="rating">
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star"></i></a>
                                <a href="#"><i class="fa fa-star-half-o"></i></a>
                            </div>
                            <span>1.029 Votes</span>
                        </div>
                        <p th:text="${anime.description}">Description</p>
                        <div class="anime__details__widget">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Type:</span> TV Series</li>
                                        <li><span>Studios:</span> Lerche</li>
                                        <li><span>Date aired:</span> Oct 02, 2019 to ?</li>
                                        <li><span>Status:</span> Airing</li>
                                        <li><span>Genre:</span> Action, Adventure, Fantasy, Magic</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul>
                                        <li><span>Scores:</span> 7.31 / 1,515</li>
                                        <li><span>Rating:</span> 8.5 / 161 times</li>
                                        <li><span>Duration:</span> 24 min/ep</li>
                                        <li><span>Quality:</span> HD</li>
                                        <li><span>Views:</span> 131,541</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="anime__details__btn">
                            <a href="#" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                            <a th:href="@{'/Client/anime-watching/' + ${anime.id}}" class="watch-btn"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-md-8 mt-5">
                    <div class="anime__details__review">
                        <div class="section-title">
                            <h5>Reviews</h5>
                        </div>
                        <div id="commentList">
                            <div th:each="comment : ${comments}" class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    <img class="rounded-circle" th:src="${loggedInAccount != null ? loggedInAccount.avatarUrl : '/img-admin/default-avatar.png'}" alt="" style="width: 40px; height: 40px;">
                                </div>
                                <div class="anime__review__item__text">
                                    <h6 th:text="${comment.account.username} + ' - ' + ${#temporals.format(comment.createAt, 'dd/MM/yyyy HH:mm')}"></h6>
                                    <p th:text="${comment.comment}"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="anime__details__form">
                        <div class="section-title">
                            <h5>Your Comment</h5>
                        </div>
                        <div th:if="${loggedInAccount == null}" class="alert alert-warning">
                            Vui lòng <a href="/login">đăng nhập</a> để bình luận
                        </div>
                        <form id="commentForm">
                            <textarea id="commentInput" placeholder="Your Comment"></textarea>
                            <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                        </form>
                    </div>

                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="anime__details__sidebar">
                        <div class="section-title">
                            <h5>you might like...</h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" th:data-setbg="@{/images/sidebar/tv-1.jpg}">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Boruto: Naruto next generations</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" th:data-setbg="@{/images/sidebar/tv-2.jpg}">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" th:data-setbg="@{/images/sidebar/tv-3.jpg}">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Sword art online alicization war of underworld</a></h5>
                        </div>
                        <div class="product__sidebar__view__item set-bg" th:data-setbg="@{/images/sidebar/tv-4.jpg}">
                            <div class="ep">18 / ?</div>
                            <div class="view"><i class="fa fa-eye"></i> 9141</div>
                            <h5><a href="#">Fate/stay night: Heaven's Feel I. presage flower</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->
    <script th:inline="javascript">
        console.log('Script started');

        /*<![CDATA[*/
        const animeId = /*[[${anime.id}]]*/ null;
        const loggedInAccount = /*[[${loggedInAccount}]]*/ null;
        const accountId = loggedInAccount != null ? loggedInAccount.id : null;
        const username = loggedInAccount != null ? loggedInAccount.username : null;
        const csrfToken = /*[[${_csrf.token}]]*/ '';
        /*]]>*/

        console.log('Variables initialized:', { animeId, accountId, username, csrfToken });

        document.addEventListener("DOMContentLoaded", function () {
            console.log('DOM loaded');

            const commentForm = document.getElementById("commentForm");
            const commentInput = document.getElementById("commentInput");
            const commentList = document.getElementById("commentList");

            console.log('Form elements:', { commentForm, commentInput, commentList });

            if (commentForm) {
                console.log('Adding submit event listener');

                commentForm.addEventListener("submit", function (event) {
                    console.log('Form submitted');
                    event.preventDefault();

                    if (!commentInput.value.trim()) {
                        alert("Vui lòng nhập nội dung bình luận!");
                        return;
                    }

                    if (!accountId) {
                        alert("Vui lòng đăng nhập để bình luận!");
                        return;
                    }

                    const requestBody = {
                        accountId: accountId,
                        comment: commentInput.value.trim()
                    };

                    console.log('Sending request:', requestBody);

                    fetch(`/api/comments/${animeId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            "X-CSRF-TOKEN": csrfToken
                        },
                        body: JSON.stringify(requestBody)
                    })
                        .then(response => {
                            console.log('Response received:', response.status);
                            if (!response.ok) {
                                return response.text().then(text => {
                                    throw new Error(`Lỗi khi gửi bình luận: ${text}`);
                                });
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log('Comment saved:', data);
                            const newComment = document.createElement("div");
                            newComment.classList.add("anime__review__item");
                            newComment.innerHTML = `
                <div class="anime__review__item__pic">
                    <img src="/images/anime/default-avatar.png" alt="">
                </div>
                <div class="anime__review__item__text">
                    <h6>${username} - <span>Just now</span></h6>
                    <p>${data.comment}</p>
                </div>
            `;
                            commentList.prepend(newComment);
                            commentInput.value = "";
                        })
                        .catch(err => {
                            console.error('Error:', err);
                            alert("Có lỗi xảy ra khi gửi bình luận: " + err.message);
                        });
                });
            }


        });

    </script>
</div>
