<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Logo</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Trang Chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/product">Product</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/anime">Anime</a>
        </li>

    </ul>
</nav>

<div th:fragment="AdminAnime">
    <h1 style="text-align: center">List Anime</h1>

    <a th:href="@{/admin/anime/add}">Add Anime</a>

    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Id</td>
            <td>Anime Name</td>
            <td>Title</td>
            <td>Description</td>
            <td>Hashtag</td>
            <td>Image</td>
            <td>Trailer</td>
            <td>Link</td>
            <td>Category Anime</td>
            <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>

        <tr th:each="obj : ${animes}">
            <td th:text="${obj.id}">Id</td>
            <td th:text="${obj.animeName}">Anime Name</td>
            <td th:text="${obj.title}">Title</td>
            <td th:text="${obj.description}">Description</td>
            <td th:text="${obj.hashtag}">Hashtag</td>

            <td><img th:src="@{/images/anime/{imageName}(imageName=${obj.image})}" alt="Anime Image" style="max-width: 100px; max-height: 100px;"></td>

            <td>
                <video width="100" height="100" controls>
                    <source th:src="@{/videos/{trailerName}(trailerName=${obj.trailer})}" type="video/mp4">
                </video>
            </td>
            <td th:text="${obj.link}">Link</td>
            <td th:text="${obj.category_name}">Category Name</td>
            <td><a th:href="${'/admin/anime/edit/' + obj.id}">Edit</a></td>
            <td><a th:href="${'/admin/anime/delete/' + obj.id}">Delete</a></td>
        </tr>

        </tbody>
    </table>

    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link" th:href="${'/admin/anime?page=' + (currentPage - 1)}" th:if="${currentPage > 0}">Previous</a></li>

        <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPage)}">
            <a class="page-link" th:href="${'/admin/anime?page=' + (i - 1)}" th:text="${i}">1</a>
        </li>

        <li class="page-item"><a class="page-link" th:href="${'/admin/anime?page=' + (currentPage + 1)}" th:if="${currentPage < totalPage - 1}">Next</a></li>
    </ul>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</div>

</body>
</html>
